.body {
  border: 1px solid #68e3d9;
  border-radius: 8px;
  box-sizing: border-box;
  width: 35%;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 20%;
}

.userBox {
  background: #ffffff;
  border-radius: 8px;
}

.userList {
  padding: 24px 10% 0;
  height: 356px;
  overflow-y: auto;
}

.userList::-webkit-scrollbar {
  width: 3px;
}

.userList::-webkit-scrollbar-thumb {
  background: #17e7b3;
}

.userItem {
  display: flex;
  cursor: pointer;
}

.userText {
  margin-left: 5%;
}

.username {
  font-weight: 600;
  font-size: 13.5px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 3px;
}

.handle {
  font-weight: 500;
  font-size: 12.3px;
  line-height: 20px;
  color: #006e72;
}

.divider {
  border: 0;
  border-bottom: 1px solid #f5fdfc;
  margin: 15px 0 13px;
}

.controls {
  padding: 17px 5%;
  text-align: center;
}

.loading {
  background: #e0faf8;
  padding: 100px 5% 75px;
  text-align: center;
  border-radius: 8px;
}

.loadingText {
  font-weight: 600;
  font-size: 10.8px;
  line-height: 18px;
  color: #006e72;
  margin-top: 7px;
}

.loadingAnimation {
  width: 50%;
  height: 211px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .body {
    width: 85%;
    top: 2%;
    left: 2%;
  }
}
